*{
 box-sizing: border-box;
}

body{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 100vh;

 margin: 0;
 /* background-image: url(./Img/1920x1080p-Wallpaper-13.jpg); */
background-position: center center;
background-size: cover;
transition: .7s ease;
}

body::before{
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0,0,0, .7);
 z-index: -1;
}

.container{
 position: relative;
 width: 70vh;
 height: 70vh;
 box-shadow: 0 3px 6px rgba(0,0,0, .2), 0 3px 6px rgba(0,0,0, .3);
 overflow: hidden;
}

.slide{
 opacity: 0;
 width: 100vw;
 height: 100vh;
 background-position: center center;
 background-size: cover;
 position: absolute;
 top: -15vh;
left: -15vw;
transform: .4s ease;
z-index: 1;
}
.slide.active{
 opacity: 1;
}

.arrow{
 background-color: rgba(254, 224, 224, 0.078);
 color: #fff;
 border: none;
 padding: 20px;
 font-size: 30px;
 position: fixed;
 top: 50%;
 transform: translateY(-50%);
 cursor: pointer;
 transform: .2 ease;
}

.left-arrow{
 left: calc(15vw - 65px);
}

.right-arrow{
 right: calc(15vw - 65px);
}